{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <h2>Side Navbar</h2>
    <h3>Catalog</h3>
    <a href="{% url "category" %}">Inventory</a>
    <a href="{% url "product" %}">Products</a>
    <a href="{% url "category" %}">Category</a>
    <a href="{% url "supplier" %}">Suppliers</a>
     <a href="{% url "sales:customer_list" %}">Customers</a> 
    <a href="{% url "purchase_list" %}">Purchases</a> 
    <a href="{% url 'sales:sale_list' %}">Sales</a>
    <a href="">Invoices</a>
    <a href="">Imports/Exports</a>
    <a href="">Users</a>
    <a href="">Settings</a>
    <a href="">Help</a>
    <hr>

    {% block content %}
    
    {% endblock content %}



</body>
</html>